{% extends 'frontend/layout.html.twig' %}

{% block page_title %}
	Mes recettes
{% endblock %}

{% block page_menu %}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<table class="table table-sm">
				<tbody>
					{% for recipe in recipes %}
						<tr>
							<td>
								<a href="{{ path('frontend_recipe_detail', {'nom': recipe.nom} ) }}">
									{{ recipe.nom }}
								</a>
							</td>
						</tr>

					{% endfor %}
				</tbody>
			</table>

		</div>
	</div>
{% endblock content %}


{% block javascripts %}
	{{ parent() }}
{% endblock %}
