.quick-search__result .quick-search__category {
    font-size: 1.2rem;
    font-weight: 600;
    color: #414b4c;
    margin: 0.5rem 0 1rem 0;
}

.quick-search__result .quick-search__section {
    margin-bottom: 2rem;
}

.quick-search__result .quick-search__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0.25em!important;
}

.quick-search__result .quick-search__item .quick-search__item-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f0f0f4;
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.quick-search__result .quick-search__item .quick-search__item-wrapper {
    padding-left: 1.25rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
   }

.quick-search__result .quick-search__item .quick-search__item-wrapper .quick-search__item-title {
    font-size: 1rem;
    font-weight: 500;
    color: #343d3e;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

}

.quick-search__result .quick-search__item .quick-search__item-wrapper .quick-search__item-desc {
    font-size: 1rem;
    font-weight: 400;
    color: #aeb2b7;
}
.quick-search__result .quick-search__item .quick-search__item-wrapper .quick-search__item-updated {
    font-size: 0.8rem;
    font-weight: 400;
}