{% extends 'frontend/layout.html.twig' %}

{% block page_title %}
	Tableau de bord
{% endblock %}

{% block page_menu %}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-9"></div>
		<div class="col-md-3">
			Le contenu
		</div>
	</div>
{% endblock content %}


{% block javascripts %}
	{{ parent() }}
{% endblock %}
