<div class="settings js-settings">
    <div class="settings-panel">
        <div class="settings-content">
            <div class="settings-title d-flex align-items-center">
                <button type="button" class="btn-close float-right js-settings-toggle" aria-label="Close"></button>
                <h4 class="mb-0 ms-2 d-inline-block">Rechercher</h4>

            </div>
            <div class="settings-body">
                <form action="" id="quick_search_form" class="d-none d-sm-inline-block quick_search_form" method="GET">
                    <div class="input-group input-group-navbar">
                        <input name="terme" id="quick_search_input" type="text" class="form-control quick_search_input" placeholder="Rechercher…" aria-label="Rechercher…">
                        <button class="btn" type="submit">
                            <i class="align-middle" data-feather="search"></i>
                        </button>
                    </div>
                </form>
                <hr>
                <div class="quick-search__wrapper">

                </div>
            </div>
            <div class="settings-footer">
            </div>

        </div>
    </div>
</div>