
<div class="modal-dialog modal-xl">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">{{ title }}</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="row">
			{% if intro is defined and intro %}
				<div class="col-md-12 text-warning text-center mb-3">
					{{ intro | raw }}
				</div>
			{% endif %}
				<div class="col-md-12">
					{% block modal_body %}{% endblock %}
				</div>
			</div>
		</div>
		<div class="modal-footer">
			&nbsp;<button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Fermer</button>
		</div>
	</div>
</div>
