{% extends 'theme/appstack/index.html.twig' %}

{% block navbar %}
{% endblock navbar %}

{% block topbar %}
{% endblock topbar %}

{% block page_title %}
    captcha server side
{% endblock %}

{% block page_menu %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
